terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/
in.*/
*.in
*.bakup
*.log
*.bak
.*.swp
.idea
*.iml
*.test
*.iml
*.in
*.pub
# Test exclusions
!command/testdata/**/*.tfstate
!command/testdata/**/.terraform/